.header{
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
@media screen and (min-width: 1200px) {
padding-top: 24px;
padding-bottom: 25px;
}
@media screen and (min-width: 480px) {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  padding-top: 26px;
  padding-bottom: 26px;
}
border-bottom:  1px solid #ECECEC;
max-width: 100%;
margin: 0 auto;
}

.menu__header-list{
display: flex;
@media screen and (max-width: 767px) {
    display: none;
  }
@media screen and (min-width: 768px)  {
  margin-left: 88px;
 }
}

.menu__header-connect-list{
  display: flex;
@media screen and (min-width: 768px){
  display: block;
}
}

.menu{
display: flex;
align-items: center;
}

.menu__header-item{
  &:not(:last-child){
margin-right: 50px;
  }
}

.header-container{
display: flex;
align-items: center;
width: 100%;
@media screen and(max-width: 1199px){
  padding-left: 15px;
  padding-right: 15px;
}
// padding-top: 16px;
// padding-bottom: 10px;
}

.header-connect{
margin-left: auto;
@media screen and(max-width: 767px) {
    display: none;
  }
}

.menu__header-link.current{
color: var(--fourth-text-color);
}

.menu__header-link.active::after{
content: "";
width: 100%;
height: 4px;
background-color: #2196F3;
position: absolute;
display: block;
bottom: -28px;
left: 0;
border-radius: 2px;
}

.menu__header-link{
color: var(--header-text-color);
transition: color 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
position: relative;
outline: none;
&:hover,
&:focus,
.current{
color: var(--fourth-text-color);
}
}

.menu__header-mail{
  display: flex;
  align-items: center;
  color: var(--second-header-color);
  transition: color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
    &:hover,
  &:focus{
  color: var(--fourth-text-color);
  }
}

.menu__mail-icon{
  margin-right: 10px;
  fill: currentColor;
    &:hover,
  &:focus{
    color: var(--fourth-text-color);
  }
}

.menu__phone-icon{
  margin-right: 10px;
  fill: currentColor;
    &:hover,
  &:focus{
    color: var(--fourth-text-color);
  }
}

.menu__header-tel{
display: flex;
align-items: center;
margin-left: 48px;
color: var(--second-header-color);
transition: color 250ms;
transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
outline: none;
&:hover,
&:focus{
color: var(--fourth-text-color)
}
  @media screen and (min-width: 768px){
  margin-top: 10px;
  margin-left: 0px;
  }
}

.mob-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    padding-top: 10px;
    padding-bottom: 48px;
    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // overflow: scroll;
    }
}

.mob-menu-bottom {
    margin-top: auto;
}

.close-menu-btn {
    display: block;
    margin-left: auto;
    width: 40px;
    height: 40px;
&:hover,
&:focus{
fill: #2196F3;
}
border:none;
background-color: #ffffff;
}

.close-menu-icon{
  fill:currentColor;
&:hover,
&:focus{
fill: #2196F3;
}
}

.mob-menu-item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}

.mob-menu-link {
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.02em;

color: #212121;
&:hover,
&:focus,
.current{
color: var(--fourth-text-color);
}
}

// .mob-menu-connect {
//     margin-bottom: 64px; 
// }

.mob-menu-tel {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: #2196F3;
margin-bottom: 22px;
margin-top: 314px;
}

.mob-menu-mail{
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 1.67;
letter-spacing: 0.02em;
color: #757575;
}

.mob-social-item{
    &:not(:last-child) {
        margin-right: 5px;
    }
      display: flex;
  align-items: center;
 }

.vert-line{
width: 22px;
height: 0px;
left: 135px;
top: 726px;
border: 1px solid rgba(33, 33, 33, 0.2);
transform: rotate(90deg); 
margin-left: 5px;
}

.mob-social-link {
font-weight: 500;
font-size: 18px;
line-height: 1.22;
letter-spacing: 0.02em;
color: #2196F3;
}

.mob-social-list{
  display: flex;
  align-items: center;
  margin-top: 64px;
}

.open-menu-btn{
margin-left:auto;
width: 40px;
height: 40px;
border:none;
background-color: #ffffff;
    @media screen and(min-width: 767px){
      display: none;
    }
}

.open-menu-icon{
fill:currentColor;
&:hover,
&:focus{
fill: #2196F3;
}
}