.hero{
  padding-top: 118px;
  padding-bottom: 118px;
  @media screen and (min-width: 1200px){
  padding-top: 200px;
  padding-bottom: 200px;
  }
  background-color: var(--main-bg-color);
  background-image: linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), 
  url(../image/header-img_mobile_1x.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;

  @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url(../images/header-img_mobile_2x.jpg);
    }
    @media screen and (min-width: 768px) {
  background-image: 
  linear-gradient(
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)), 
  url(../images/header-img_tablet_1x.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url(../images/header-img_mobile_2x.jpg);
}
    }
    @media screen and (min-width: 1200px)  {
            padding-top: 130px;
            padding-bottom: 130px;
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url(../images/header-bg.jpg);
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
background-image: 
linear-gradient(
rgba(47, 48, 58, 0.4),
rgba(47, 48, 58, 0.4)), 
url(../images/header-bg-2x.jpg);
        }
    }
}

.hero-title__title{
font-size: 26px;
line-height: 1.61;  
font-weight: 900;
@media screen and (min-width: 1200px){
font-size: 44px;
line-height: 1.36;
}
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
margin-bottom: 45px;
color: var(--main-title-color);
}

.btn__hero-btn{
background-color: #2196F3;
font-family: inherit;
font-weight: bold;
font-size: 16px;
line-height: 1.88;
display: flex;
align-items: center;
text-align: center;
margin: auto;
letter-spacing: 0.06em;
cursor: pointer;
padding: 10px 32px 10px 32px;
border: none;
color:var(--main-title-color);
}
