:root {
    --main-title-color: #ffffff;
    --main-text-color: #757575;
    --second-text-color: #212121;
    --third-text-color: #ffffff;
    --fourth-text-color: #2196F3;
    --main-btn-color: #ffffff;
    --second-btn-color: #212121;
    --header-text-color: #212121;
    --second-header-color: #757575;
    --main-bg-color:#2F303A;
    --second-bg-color: #F5F4FA;
    --third-bg-color: #ffffff;
    --fourht-bg-color: #2196f3;
}